numpy==1.23.5
pytorch-lightning==2.0
torch==2.0
torchvision==0.15.1
torchaudio==2.0.1
transformers==4.26.1
audio_encoders_pytorch==0.0.22
archisound==0.0.6
gdown==4.6.4
progressbar==2.5
tqdm==4.64.1
jupyterlab==3.5.3
numba==0.56.4
pyloudnorm==0.1.1
pandas==1.5.2
pydub==0.25.1
hydra-core==1.3.2
torch-audiomentations==0.11.0
simpleaudio==1.0.4
auraloss==0.3.0
onnx==1.13.0
onnxruntime==1.13.1
mlflow==2.2.2
seaborn
librosa
matplotlib
pytest
# additional libsndfile1 library needed to be installed in the system, try brew install libsndfile, or sudo apt-get install libsndfile1
# additional ffmpeg library needed to be installed in the system, try brew install ffmpeg, or sudo apt-get install ffmpeg